/*HEADER OPERATORE INIZIO*/

.operatore-header {
    border-bottom: 1px solid #024842;
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: #030F1D;
}

/*HEADER OPERATORE INIZIO*/

.main-section {
    padding: 0.75rem;
    background-color: #051424;
    min-height: 100vh;
}

.titolo {
    padding-bottom: 0.5rem;
    color: #00ffb8;
    font-size: 24px;
    font-weight: 800;
}

.dataOggi {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #e5e7eb;
    font-size: 16px;
    font-weight: normal;
}

.box-checkin-checkout {
    width: 100%;
    max-width: 36rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    text-align: center;

    padding: 27px 24px 24px;
    border-radius: 12px;
    border: solid 1px rgba(0, 255, 184, 0.35);
    background-color: #11413f;
}

.box-timer {
    margin-bottom: 1.5rem;
    text-align: center;
}

.timer-value {
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
}

.timer-label {
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
}

.check-button {
    width: 85%;
    height: 54px;
    border-radius: 25.5px;
    cursor: pointer;
    background-color: #00ffb8;
}

.check-button-content {
    color: #191c19;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 22px;
    font-weight: 900;
}

.check-button-in {
    background-color: #00ffb8;
}

.check-button-in:hover {
    background-color: #00ffb8;
}

.check-button-out {
    background-color: #d64933;
}

.check-button-out:hover {
    background-color: #b63d2b;
}

.card-turni {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    border-color: #72ad97;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 16px;
    background-image: linear-gradient(to bottom, #1c2b3c, #1c2b3c), linear-gradient(to bottom, #00ffb8, #00996e);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.turno-content {
    padding-left: 0;
    padding-right: 0;
}

.titolo-evento {
    color: #00ffb8;
    font-size: 22px;
    font-weight: bold;
}

.luogo-evento-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.luogo-evento-text {
    font-size: 14px;
    font-weight: normal;
    color: #a5e8cf;
    text-decoration: underline;
}

.tipo-evento,
.tipo-mansione {
    font-size: 14px;
    font-weight: normal;
    color: #e5e7eb;
}

.info-turno {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 4%;
}

.info-orario-turno {
    /*background-color: rgba(0, 100, 69, 0.38);*/
    background-color: #11413F;
    display: flex;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    transform: translateY(-10px);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.info-ora {
    width: 75%;
    padding-left: 4%;
    border-right: 1px solid #335064
}

.info-pausa {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.orario-turno {
    font-size: 22px;
    font-weight: 800;
    color: #ccffec;
}

.stato-turno {
    font-size: 10px;
    font-weight: bold;
    border-radius: 6px;
    border: solid 1px #00d96f;
    display: inline-block;
    padding: 3px 6px;
}

.stato-turno.IN_CORSO {
    color: #00ffb8;
}

.stato-turno.FUTURO {
    color: #ABD1EB;
}

.stato-turno.PASSATO {
    color: #888888;
}

.pausa-label {
    font-size: 11px;
    font-weight: normal;
    color: #ccffec;
    display: flex;
    align-items: center;
    gap: 2px;
}

.pausa-value {
    font-size: 14px;
    font-weight: 800;
    color: #ccffec;
}

.note-operative-content {
    width: 60%;
    margin-top: 2px;
    border-radius: 10px;
    border: solid 1px #906121;
    background-color: #382c1f;
    padding: 10px;
}

.note-operative-label {
    font-size: 13px;
    font-weight: bold;
    color: #ffc04a;
}

.note-operative-value {
    font-size: 14px;
    font-weight: normal;
    color: #f5f7fb;
}

.info-personale-content {
    border-top: 1px solid #335064;
    margin-top: 15px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.referente-evento-label,
.colleghi-evento-label {
    font-size: 15px;
    font-weight: normal;
    color: #00ffb8;
}

.referente-evento,
.colleghi-evento {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.referente-evento {
    border-right: 1px solid #335064;
}



/********INIZIO DIALOG************/

.sheet-dialog-core {
    /* Posizionamento */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;

    /* Dimensioni */
    width: 100%;
    max-width: none;

    /* Bordi */
    border: solid 1.2px #214d6b;
    border-bottom: 0;
    border-radius: 28px 28px 0 0;
    /* Sfondo */
    background-color: #091925;

}

.dialog-evento-title {
    font-size: 25px;
    font-weight: 800;
    color: #00f0b8;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.dialog-evento-title span {
    text-align: left;
}

.dialog-btn-chiudi {
    border: solid 1px #214d6b;
    background-color: #0d2838;
    border-radius: 50%;
    outline: none;
    box-shadow: none;
    margin-left: auto;
}

.dialog-evento-content {
    border-top: 1px solid #1f3b52;
}

.dialog-collega-content {
    padding: 10px;
    border-bottom: 1px solid #1f3b52;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.dialog-collega-text {
    font-size: 18px;
    font-weight: 800;
    color: #f7fcff;
    display: flex;
    align-items: center;
}

.dialog-orario-collega {
    font-size: 13px;
    font-weight: normal;
    color: #abd1eb;
}

.dialog-telefono-collega {
    font-size: 14px;
    font-weight: normal;
    color: #abd1eb;
    text-decoration: underline;
}

.dialog-team-leader {
    font-size: 13px;
    font-weight: normal;
    color: #ffc04a;
}

/********FINE DIALOG************/

/**********RENDICONTAZIONE**********/

.tabs-list {
    width: 100%;
    border-radius: 12px;
    background-color: #11413f;
    gap: 4px;
}

.tab-button[data-state="active"] {
    border-radius: 8px;
    background-color: #00ffb8;
    font-size: 14px;
    font-weight: bold;
    color: #191c1d;
}

.tab-button {
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #406295;
    font-size: 14px;
    font-weight: bold;
    color: #c9daff;
}

.sintesi-rendicontazione-content {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    border: 1px solid #00ffb8;
    background-color: #11413f;
    padding: 12px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
}

.totale-ore-label,
.totale-giorni-label {
    font-size: 12px;
    font-weight: 500;
    color: #fffffc;
}

.totale-ore-value,
.totale-giorni-value {
    font-size: 30px;
    font-weight: 900;
    color: #00ffb8;
}

.totale-ore-unita,
.totale-giorni-unita {
    font-size: 16px;
    font-weight: 500;
    color: #00ffb8;
}

.rendicontazione-info {
    border-radius: 12px;
    border: solid 1px rgba(24, 255, 191, 0.26);
    background-color: rgba(0, 107, 68, 0.05);
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
    color: #444746;
    padding: 20px;
}

.rendicontazione-info-title {
    font-size: 16px;
    font-weight: bold;
    color: #00ffb8;
}

.rendicontazione-info-testo {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
}

.rendicontazione-turno-content {
    margin-top: 8px;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #4e8979;
    background-color: #11413f;
}

.rendicontazione-data-turno {
    margin-left: 8px;
    border-radius: 8px;
    border: solid 1px #00ffb8;
    background-color: rgba(0, 107, 68, 0.1);
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 500;
    color: #00ffb8;
}

.rendicontazione-orario-turno {
    margin-right: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #00ffb8;
}

.rendicontazione-pausa-turno {
    margin-right: 8px;
    text-align: right;
    font-size: 12px;
    font-weight: 500;
    color: #fffffc;
}

.rendicontazione-titolo-turno {
    margin-left: 8px;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
}

.rendicontazione-indirizzo-turno {
    margin-left: 8px;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
}

.rendicontazione-bottone-modifica {
    width: 45%;
    border-radius: 8px;
    border: solid 1px #ffc04a;
    background-color: #382c1f;
    font-size: 12px;
    font-weight: 500;
    color: #ffc04a;
}

.archivio-mensile-trigger {
    margin-top: 8px;
    border-radius: 12px;
    border: solid 1px #0d5c54;
    background-color: #051722;
    padding: 8px 12px;
}

.archivio-mese-anno {
    font-size: 22px;
    font-weight: bold;
    color: #f2f7f7;
}

.archivio-giorni-mensili {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: normal;
    color: #00edb8;
}

.turno-archiviato-content {
    margin-top: 8px;
    border-radius: 10px;
    border: solid 1px #306961;
    background-color: #052525;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    padding: 12px;
}

.data-turno-archiviato {
    font-size: 12px;
    font-weight: 600;
    color: #00edb8;
}

.ora-turno-archiviato {
    font-size: 15px;
    font-weight: bold;
    color: #00edb8;
}

.pausa-turno-archiviato {
    margin-right: 8px;
    text-align: right;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
}

.nome-turno-archiviato {
    margin-left: 8px;
    font-size: 15px;
    font-weight: normal;
    color: #f2f7f7;
}

.indirizzo-turno-archiviato {
    margin-left: 8px;
    font-size: 11px;
    font-weight: normal;
    color: #bfcfd1;
}

.sintesi-container {
    display: flex;
    gap: 20px;
    /* spazio tra i due */
}


.ore-mese-sintesi {
    border-radius: 16px;
    border: solid 1px #00b95b;
    background-color: rgba(7, 51, 33, 0.71);
    flex: 1;
    cursor: pointer;
}

.ore-mese-label {
    font-size: 15px;
    font-weight: bold;
    color: #00d96f;
    text-align: center;
}

.prossimi-turni-sintesi {
    border-radius: 16px;
    border: solid 1px #c26cff;
    background-color: rgba(194, 108, 255, 0.13);
    flex: 1;
    cursor: pointer;
}

.prossimi-turni-label {
    font-size: 15px;
    font-weight: bold;
    color: #c26cff;
    text-align: center;
}

.dettaglio-mese-sintesi {
    border: solid 1px #00b95b;
    background-color: #051424;
    color: #00d96f;
}

.dettaglio-turni-sintesi {
    border: solid 1px #c26cff;
    background-color: #17172c;
    color: #c26cff;
}

.dettaglio-mese-sintesi,
.dettaglio-turni-sintesi {
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ore-mese-value-content {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    justify-content: center;
}

.ore-mese-value {
    font-size: 33px;
    font-weight: bold;
    color: #00d96f;
}

.ore-label {
    font-size: 11px;
    font-weight: bold;
    color: #00d96f;
}

.prossimi-turni-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.prossimi-turni-nessuno{
    font-size: 20px;
    font-weight: normal;
    color: #b9c4d0;
}

.prossimi-turni-next-content {
    border-radius: 8px;
    border: solid 1px #c26cff;
    background-color: #17172c;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    line-height: 1;  
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;    
}


.prossimi-turni-value-content {
    font-size: 14px;
    font-weight: normal;
    color: #b9c4d0;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;    
}

.prossimi-turni-mese-value {
    font-size: 12px;
    font-weight: normal;
    color: #f5f7fb;
}

.prossimi-turni-giorno-value{
    font-size: 22px;
    font-weight: bold;
    color: #f5f7fb;
}

/* TURNI FUTURI */
.turni-futuri-card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding-top: 0;

    border-radius: 14.5px;
    border: solid 0.9px #1fde5e;
    background-color: rgba(28, 43, 60, 0.42);
}

.turni-futuri-operativita {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    padding-top: 20px;
}

.turni-futuri-data-content {
    border-radius: 10.9px;
    background-color: #083b29;
    width: 90px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.turni-futuri-giorno {
    font-size: 39px;
    font-weight: 800;
    color: #1fde5e;
    line-height: 1;
    text-align: center;
}

.turni-futuri-mese {
    font-size: 16px;
    font-weight: bold;
    color: #1fde5e;
    line-height: 1;
    text-align: center;
}

.turni-futuri-titolo-evento {
    font-size: 20px;
    font-weight: bold;
    color: #f2f7fc;
}

.turni-futuri-localita-evento {
    font-size: 13px;
    font-weight: normal;
    color: #f2f7fc;
}

.turni-futuri-Orario {
    font-size: 16px;
    font-weight: 600;
    color: #f2f7fc;
}

.turni-futuri-tipologia-content {
    margin-top: 5px;
    margin-bottom: 5px;
}

.turni-futuri-tipologiaTurno {
    border-radius: 14.1px;
    background-color: #4c608b;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
    color: #f2f7fc;
    margin-right: 2px;
}

.turni-futuri-tipoMansione {
    border-radius: 14.1px;
    background-color: rgba(194, 108, 255, 0.39);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
    color: #f2f7fc;
    margin-left: 2px;
}

.turni-futuri-note-operative-content {
    width: 60%;
    margin-top: 2px;
    border-radius: 10px;
    border: solid 1px #906121;
    background-color: #382c1f;
    padding: 10px;
    margin-top: 10px;
}